@tailwind base;
@tailwind components;
@tailwind utilities;
.message {
    height: auto;
    /* width: auto; */
    max-width: 80%;
    background-color: rgb(5, 5, 118);
    color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    max-width: 300px;
    margin: 10px;
    /* display: inline-block; */
}

.date {
    text-align: right;
    font-size: 10px;
    margin-top: 10px;
}
.left {
    display: flex;
    justify-content: left;
}
.right {
    display: flex;
    justify-content: right;
}
